<center>
<div class="container">
<div class="center jumbotron">
<h1>Details of Agent</h1>

<table class="table table-hover table-bordered text-left" style="width:90%">
 
  <tr>
    <th>Agent Name: &nbsp; &nbsp; &nbsp;</th>
    <th><%= @agent.name%></th>	
  </tr>
  
  <tr>
    <th>Agent Email: &nbsp; &nbsp; &nbsp;</th>
    <th><%= @agent.email%></th>	
  </tr>
  
  <tr>
    <th>Join date: &nbsp; &nbsp; &nbsp;</th>
    <th><%= @agent.created_at.to_date%></th>	
  </tr>
</table>
	
<% if current_admin %>  
    <% if @agent.status? %>
    <p><%= link_to "De-Activate Agent",deactivate_path(@agent), method: :put, data: { confirm: "You sure De-Activate Agent ?" }, class: "btn btn-primary" %></p>
 <% else %>
    <p><%= link_to "Activate Agent",activate_path(@agent), method: :put, data: { confirm: "You sure Activate Agent ?" }, class: "btn btn-primary" %></p>
    <% end %>
 <p><%= link_to "Back",agents_path, class: "btn btn-primary" %></p>

<% elsif current_agent %>
	<p><%= link_to "Back", agent_home_path, class: "btn btn-primary" %></p>
	<p><%= link_to "Back to home", root_path, class: "btn btn-primary" %></p>
<% end %>


</div>
</div>

</center>