<!DOCTYPE html>
<html>
  <head>
    <title>Tourapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	 <%= render 'layouts/header' %>
	  
	  <p><%= render 'layouts/messages' %></p>
		
	  <!--<p class="notice notice-success"><%= notice %></p>
	  <p class="alert alert-info"><%= alert %></p> 
		<div class="container">
      <p><center><% flash.each do |message_type, message| %>
      <div class="alert alert-info"> <%= message %> </div>
            <% end %></center></p>	
   	 </div>-->
    <%= yield %>
  <div id="modal-userlogin" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content"></div>
    </div>
  </div>
  <div id="modal-userreg" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content"></div>
    </div>
  </div>
	 <%= render 'layouts/footer' %>
  </body>
</html>
